    <%=form_for @dog do |f| %>

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label text-right">Dog Name</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.text_field :name, :placeholder => "Please input dogname", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="breed" class="col-sm-3 control-label text-right">Breed</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.text_field :breed, :placeholder => "Please input breed", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname" class="col-sm-3 control-label text-right">Date of Birth</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.date_field :birthdate, :placeholder => "Please input birthdate", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="isregistered" class="col-sm-3 control-label text-right">Is Registered?</label>
          <div class="col-sm-8 input-group">
            <%=f.check_box :is_registered,:onclick=>"toggle_radio(this)" %>
          </div>
        </div>

        <div class="form-group">
          <label for="registration_months" class="col-sm-3 control-label text-right">Months Registered</label>
          <div class="col-sm-8 input-group">
            <% @reg_map.each do |map| %>
                <%=f.radio_button :registration_months, "#{map.months}", :class=>"inline" %>
                <%= label "registration_months_#{map.months}", "#{map.months} months cost $#{map.cost}"%><br/>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-2 text-center input-group">
            <input type="submit" class="btn btn-primary btn-block btn-success btn-lg" value="<%= @page_button %>"/>
          </div>
        </div>

        <%= render 'layouts/flash' %>
        <%= link_to 'Show Dog Details', @dog %> |
        <%= link_to 'Go to Dog List', dogs_path %>
    <%end%>



