<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Date of Birth</th>
    <th>Is Registered?</th>
    <th>Months Registered</th>
    <th>Registration Cost</th>
    <th>Owner</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @dogs.try(:each) do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.birthdate %></td>
        <td><%= dog.is_registered %></td>
        <td><%= dog.registration_months %></td>
        <td><%= dog.registration_cost %></td>
        <td><%= dog.user.username %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit/Register', edit_dog_path(dog) %></td>
        <td><%= link_to 'Delete', dog, method: :delete, data: { confirm: 'Are you sure you want to delete dog?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="form-group">
  <div class="col-md-12 control">
    <div style="border-top: 1px solid#888; padding-top:15px; margin-top:15px; font-size:85%" >
      <%= link_to "Add New Dog", new_dog_path %>
    </div>
  </div>
</div>