<% if $send_notification %>
    <%= render 'layouts/email' %>
<% else %>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label text-right">Dog Name</label>
      <div class="col-sm-8 input-group">
        <%= @dog.name%>
      </div>
    </div>

    <div class="form-group">
      <label for="breed" class="col-sm-3 control-label text-right">Breed</label>
      <div class="col-sm-8 input-group">
        <%= @dog.breed%>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname" class="col-sm-3 control-label text-right">Date of Birth</label>
      <div class="col-sm-8 input-group">
        <%= @dog.birthdate%>
      </div>
    </div>

    <div class="form-group">
      <label for="isregistered" class="col-sm-3 control-label text-right">Is Registered?</label>
      <div class="col-sm-8 input-group">
        <%= @dog.is_registered%>
      </div>
    </div>

    <div class="form-group">
      <label for="registration_months" class="col-sm-3 control-label text-right">Months Registered</label>
      <div class="col-sm-8 input-group">
        <%= @dog.registration_months%>&nbsp;
      </div>
    </div>
    <div class="form-group">
      <label for="registration_months" class="col-sm-3 control-label text-right">Registration Cost</label>
      <div class="col-sm-8 input-group">
        <%= @dog.registration_cost%>&nbsp;
      </div>
    </div>
<% end %>

<div class="form-group">
  <div class="col-sm-9">
    <%= render 'layouts/flash' %>
    <%= link_to 'Edit Dog', edit_dog_path(@dog) %> |
    <%= link_to 'Go to Dog List', dogs_path %>

  </div>
</div>
<br/><br/>