      <%=form_tag login_path do%>

          <div class="form-group">
            <label for="username" class="col-sm-3 control-label text-right">User Name</label>
            <div class="col-sm-8 input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" name="username" class="form-control" id="username" required placeholder="Please input username"/>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-3 control-label text-right">Password</label>
            <div class="col-sm-8 input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" name="password" class="form-control" id="password" required placeholder="Please input password"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-2 text-center input-group">
                <input type="submit" class="btn btn-primary btn-block btn-success btn-lg" value="Login"/>
            </div>
          </div>

          <% flash.each do |key, value| %>

              <div class="col-sm-9 col-sm-offset-2 text-center input-group <%= flash_class(key.to_sym()) %>">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= value %>
              </div>
          <% end %>


          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; margin-top:15px; font-size:85%" >
                Don't have an account!
                <%= link_to "Sign Up Here", new_user_path %>
              </div>
            </div>
          </div>
      <%end%>



