    <%=form_for @user do |f| %>

        <div class="form-group">
          <label for="username" class="col-sm-3 control-label text-right">User Name</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.text_field :username, :placeholder => "Please input username", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-3 control-label text-right">Password</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.password_field :password, :placeholder => "Please input password", :class => "form-control", :required => @user.new_record? %>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname" class="col-sm-3 control-label text-right">Password Confirmation</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.password_field :password_confirmation, :placeholder => "Please input password confirmation", :class => "form-control", :required => @user.new_record? %>
          </div>
        </div>

        <div class="form-group">
          <label for="firstname" class="col-sm-3 control-label text-right">First Name</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.text_field :firstname, :placeholder => "Please input firstname", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="lastname" class="col-sm-3 control-label text-right">Last Name</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%=f.text_field :lastname, :placeholder => "Please input lastname", :class => "form-control", :required => true %>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-3 control-label text-right">Email</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
            <%=f.text_field :email, :placeholder => "Please input email", :class => "form-control", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>
          </div>
        </div>

        <div class="form-group">
          <label for="address" class="col-sm-3 control-label text-right">Postal Address</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></span>
            <%=f.text_field :address, :placeholder => "Please input postal address", :class => "form-control", :required => true %>
          </div>
        </div>

        <% if current_user && current_user.role_id == 1 %>
        <div class="form-group">
          <label for="address" class="col-sm-3 control-label text-right">Role</label>
          <div class="col-sm-8 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></span>
            <%=f.text_field :role_id, :class => "form-control", :required => true %>
          </div>
        </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-2 text-center input-group">
            <input type="submit" class="btn btn-primary btn-block btn-success btn-lg" value="<%= @page_button %>"/>
          </div>
        </div>

        <%= render 'layouts/flash' %>
    <%end%>

    <div class="form-group">
    <div class="col-md-12 control">
      <div style="border-top: 1px solid#888; padding-top:15px; margin-top:15px; font-size:85%" >
        <% if @user.new_record?%>
            Already have an account!
            <%= link_to "Click Here", root_path %>
        <% else %>
            Unregister!
            <%= link_to "Click Here", user_path, :method=>"delete", data: {confirm: "Are you sure you want to unregister? (All data will be deleted)"} %>
        <% end %>
      </div>
      <%= render 'layouts/flash' %>

      <% if current_user && current_user.role_id == 1 %>
          <%= link_to 'Edit User', edit_user_path(@user) %> |
          <%= link_to 'Go to User List', users_path %>
      <% end %>
    </div>
    </div>


