<table class="table table-striped table-condensed" style="border-collapse:collapse;">
  <thead>
  <tr>
    <th></th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Role</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr data-toggle="collapse" data-target="<%= "#dog#{user.id}" %>" class="accordion-toggle">
        <td>+</td>
        <td><%= user.username %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= User.role_name(user.role_id) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete user?' } %></td>
      </tr>
      <tr >
        <td colspan="9" class="hiddenRow">
          <div class="accordian-body collapse col-sm-9 col-sm-offset-2" id="<%= "dog#{user.id}" %>">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Date of Birth</th>
                <th>Reg Months </th>
                <th>Reg Cost </th>
              </tr>
              </thead>
              <tbody>
              <% user.dogs.where(:is_registered=>true).try(:each) do |dog| %>
                  <tr>
                    <td><%= dog.name %></td>
                    <td><%= dog.breed %></td>
                    <td><%= dog.birthdate %></td>
                    <td><%= dog.registration_months %></td>
                    <td>$<%= dog.registration_cost%></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="form-group">
  <div class="col-md-12 control">
    <div style="border-top: 1px solid#888; padding-top:15px; margin-top:15px; font-size:85%" >
      <%= link_to "Add New User", new_user_path %>
    </div>
  </div>
</div>