
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label text-right">User Name</label>
            <div class="col-sm-8 input-group">
              <%=@user.username %>&nbsp;
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label text-right">First Name</label>
            <div class="col-sm-8 input-group">
              <%=@user.firstname %>&nbsp;
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label text-right">Last Name</label>
            <div class="col-sm-8 input-group">
              <%=@user.lastname %>&nbsp;
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-3 control-label text-right">Email</label>
            <div class="col-sm-8 input-group">
              <%=@user.email %>&nbsp;
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-sm-3 control-label text-right">Postal Address</label>
            <div class="col-sm-8 input-group">
              <%=@user.address %>&nbsp;
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-sm-3 control-label text-right">Role</label>
            <div class="col-sm-8 input-group">
              <%=User.role_name(@user.role_id) %>&nbsp;
            </div>
          </div>



          <div class="form-group">
            <div class="col-sm-9">
              <%= render 'layouts/flash' %>
              <% if current_user.role_id == 1 %>
                  <%= link_to 'Edit User', edit_user_path(@user) %> |
                  <%= link_to 'Go to User List', users_path %>
              <% end %>

            </div>
          </div>
          <br/><br/>