<div class="form-group">
  <div class="col-sm-3">Hi <%= @user.username %>,</div>
</div>

<div class="form-group">
  <div class="col-sm-9 col-sm-offset-1">You have successfully registered your Dog for <%=@dog.registration_months %>&nbsp; months with the following details:</div>
</div>
<br/><br/>

<div class="form-group">
  <label for="name" class="col-sm-3 control-label text-right">Dog Name</label>
  <div class="col-sm-8 input-group">
    <%=@dog.name %>&nbsp;
  </div>
</div>

<div class="form-group">
  <label for="breed" class="col-sm-3 control-label text-right">Breed</label>
  <div class="col-sm-8 input-group">
    <%=@dog.breed %>&nbsp;
  </div>
</div>

<div class="form-group">
  <label for="birthdate" class="col-sm-3 control-label text-right">Date of Birth</label>
  <div class="col-sm-8 input-group">
    <%=@dog.birthdate %>&nbsp;
  </div>
</div>

<div class="form-group">
  <div class="col-sm-9 col-sm-offset-1">Please pay the registration cost amounting to $<%=@dog.registration_cost %>&nbsp; to bank account number 12-1234-1234-01.</div>
</div>
<br/><br/><br/>

<div class="form-group">
  <div class="col-sm-3">Sincerely,<br/>DOA Admin</div>
</div>
<br/><br/><br/>