<% flash.each do |key, value| %>

    <div class="col-sm-9 col-sm-offset-2 text-center input-group <%= flash_class(key.to_sym()) %>">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= value %>
    </div>
<% end %>