<!DOCTYPE html>
<html>
<head>
  <title>DogownerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="panel-body text-center alert-info">
  <div class="row col-xs-12 panel-body">
    <h1>DOA (Dog Owner Application)</h1>
  </div>
  <div class="divider"></div>
  <% if current_user%>
      <ul class="nav nav-pills">
        <li class="active"><%= link_to "Manage Dogs", dogs_path %></li>
        <li class="dropdown" style="float:right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-user"></i>  <%= current_user.username%><b class="caret"></b></a>
          <ul class="dropdown-menu" id="menu1">
            <li><%= link_to "View Profile", current_user %></li>
            <li><%= link_to "Manage Profile", edit_user_path(current_user) %></li>
            <% if current_user.role_id == 1 %>
                <li><%= link_to "Manage Users", users_path %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Logout", logout_path%></li>
          </ul>
        </li>
      </ul>
  <% end %>

</div>
<div>&nbsp;</div>

<div class="scrollable-content panel-container">
  <div class="col-sm-10 col-sm-offset-1 alert-info">
    <div class="panel-body text-center">
      <div class="row col-xs-12 panel-body">
        <h3><%= @page_header%></h3>
      </div>
    </div>


    <div class="panel panel-default" style=" border: 2px solid transparent; border-radius: 25px; margin-top: -20px">

    <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
